<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from template.hasthemes.com/toro/toro/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:20:02 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dustyknot - Clothing store</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets2/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets2/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets2/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets2/css/vendor/dlicon.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="assets2/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="assets2/css/plugins/slick.css">
    <link rel="stylesheet" href="assets2/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets2/css/plugins/jarallax.css">
    <link rel="stylesheet" href="assets2/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="assets2/css/plugins/animate.css">
    <link rel="stylesheet" href="assets2/css/plugins/fullpage.css">
    <link rel="stylesheet" href="assets2/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets2/css/plugins/select2.min.css">
    <link rel="stylesheet" href="assets2/css/style.css">

</head>
<style>
    .row{
        display: flex;
        justify-content: center;
    }
</style>
<body>

    <div class="main-wrapper">
        <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-title">
                        <h2>OTP Verification</h2>
                    </div>
                    <ul>
                        <li>
                            <a href="index.html">Home 01 </a>
                        </li>
                        <li><span> > </span></li>
                        <li class="active">OTP Verification</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="login-register-area pt-95 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="login-register-wrap mr-70">
                            <h3><i class="fa fa-user-o"></i> OTP Verification</h3>
                            <div class="login-register-form">
                                <form method="post" action="">
                                    <div class="sin-login-register">
                                        <%if(locals.email){%>
                                            <input type="hidden" name="email" id="email" value="<%= locals.email %>">
                                        <%}%>
                                        <label>Enter OTP <span>*</span></label>
                                        <input type="text" name="otp">
                                    </div>
                                    <p id="otpDisplay"> </p>
                                    <% if(otpExpiration) {%>
                                        <input id="otp" name="exp" type="hidden" class="text text-danger" value=" <%= otpExpiration %> " >
                                    <% } %>
                                    <div class="login-register-btn-remember">
                                        <div class="login-register-btn">
                                            <a  href="/resendOTP"  class="resend btn" >Resend</a>
                                            
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Verify</button>
                                        </div>
                                    </div>
                                    <% if(locals.message){%>
                                        <%= locals.message %>
                                    <%}%>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- All JS is here
============================================ -->

    <!-- Modernizer JS -->
    <script src="assets2/js/vendor/modernizr-3.11.7.min.js"></script>
    <!-- jquery -->
    <script src="assets2/js/vendor/jquery-v3.6.0.min.js"></script>
    <!-- Popper JS -->
    <script src="assets2/js/vendor/popper.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets2/js/vendor/bootstrap.min.js"></script>
    <script src="assets2/js/plugins/owl-carousel.js"></script>
    <script src="assets2/js/plugins/slick.js"></script>
    <script src="assets2/js/plugins/jarallax.min.js"></script>
    <script src="assets2/js/plugins/countdown.js"></script>
    <script src="assets2/js/plugins/magnific-popup.js"></script>
    <script src="assets2/js/plugins/instafeed.js"></script>
    <script src="assets2/js/plugins/tilt.js"></script>
    <script src="assets2/js/plugins/images-loaded.js"></script>
    <script src="assets2/js/plugins/isotope.js"></script>
    <script src="assets2/js/plugins/scrolloverflow-fullpage.js"></script>
    <script src="assets2/js/plugins/fullpage.js"></script>
    <script src="assets2/js/plugins/jquery-ui.js"></script>
    <script src="assets2/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="assets2/js/plugins/easyzoom.js"></script>
    <script src="assets2/js/plugins/resizesensor.js"></script>
    <script src="assets2/js/plugins/sticky-sidebar.js"></script>
    <script src="assets2/js/plugins/scrollup.js"></script>
    <script src="assets2/js/plugins/select2.min.js"></script>
    <script src="assets2/js/plugins/cookie.js"></script>
    <script src="assets2/js/plugins/bpopup.js"></script>
    <script src="assets2/js/plugins/wow.js"></script>
    <script src="assets2/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="assets2/js/main.js"></script>

    <script>
        const otpexpr = document.getElementById('otp').value
        const otpDid = document.getElementById('otpDisplay')
        
        // const email = document.getElementById('email').value
        const otpExpiration = otpexpr
        const resendOtp = document.querySelector('.resend')
        
        resendOtp.addEventListener('click',function(e){
            e.preventDefault();
            fetch('/resendOtp',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                },
                body:JSON.stringify({otpExpiration:otpExpiration}),
            })
            .then(response=>{
                window.location.reload();
            })
            .then(data=>{
                otpTimer()
                console.log(data.message);         
            })
            .catch(error=>{
                console.log(error.message);
            })
        })

        function otpTimer(){
            const currentTime = Date.now();
            console.log(currentTime);
            const remainingTime = Math.max(0,otpexpr - currentTime);
            console.log(remainingTime);
            if (remainingTime <= 0) {
                otpDid.innerHTML = 'OTP has timedout ,please resend for newone'
                otpDid.style.display = 'block'
                // document.querySelector('.resend').style.display="block"
            } else {
                console.log('getts here');
                const remainingSeconds = Math.ceil(remainingTime / 1000);
                otpDid.innerHTML = `Time remaining :${remainingSeconds} seconds`;
                setTimeout(otpTimer,1000);
            }
        }
        otpTimer();
    </script>
    

</body>


<!-- Mirrored from template.hasthemes.com/toro/toro/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:20:02 GMT -->
</html>